// Common
* {
  font-size: 42px;
}

img {
  object-fit: cover;
}

.centered-container {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.centered-container-plus {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.user-subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.explore-title {
  margin-bottom: 1rem;
}

form {
  margin-top: -1rem;
}

// Sections
main {
  height: 540px;
  overflow: scroll;
}

.navbar-brand {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar {
  height: 55px;
}

.fa-home:before, .fa-search:before, .fa-plus:before, .fa-user:before, .fa-sign-out:before, .fa-link:before {
  font-size: 24px;

}

.fa-home:after, .fa-search:after, .fa-plus:after, .fa-user:after, .fa-sign-out:after, .fa-link:after {
  font-size: 34px;
}

.header {
  height: 63px;
  .logo {
    font-family: 'Pacifico', cursive;
    padding: 0.5rem 1rem;
    // color: white;
  }
}

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// Home
// Label {
//   height: 5px;
//   line-height: 5px;
// }

.home-buttons {
  height: 5rem;
  .home-button-container input {
    outline: none;
  }
  .home-button-input {
    margin-right: 0.5rem;

  }
}

.popup {
  width: 20vh;
  height:auto;
  text-align: center;
  color: #4a4a4a;
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  p {
    margin: 5px;
  }
}

.popun:hover {
  background-color: rgba(0, 0, 0, 0.28);
}

$box-color: #fffeff;
.box-container {
  display: flex;
  flex-wrap: wrap;
  // BURGER BOX!!!
  .burger-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: $box-color;
    &:hover {
      background-color: darken($box-color, 2%);
    }
  }
}

#map {
  height: 540px;
  width: 100%;
}


.map-container {
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 540px;
}

// Explore

.form-input {
  outline: none;
  background-color: #fcfcfc;
  border-style: none;
  padding: 0.25rem;
  border-radius: 5px;
  color: black;
}

.filteredBuilding-box {
  div {
    figure {
      img {
        border-radius: 5px;
      }
    }
  }
}

// user show
.profile-image {
  margin-top: 0.7rem;
}
